body {
    background:#FFFFFF;
}

 #header {
    background:#AED1ED;
    height:60px;
    text-align:center;
    padding-top:40px;
    font-size:24px;
    font-weight:bold;
}

 #header p {
	margin: 0px;
    text-align:center;
    font-size:15px;
    font-weight:italic;
	text-decoration:underline;
	padding-bottom:10px;
}

#nav {
	background:#000080;
	padding:3px;
	text-align:left;
}

#nav ul {
      margin:0px;
      list-style:none;
}

#nav ul li {
	display:inline;
	border:0px solid #f00;
	margin:0 50px;
}

#nav ul li a {
	color:#FFF;
	text-decoration:none;
}

#nav ul li a:hover {
	color:#8B0000;
	text-decoration:underline;
}

#container {
	background:#FFF;
	height:500px;
}

#leftNav {
	width:280px;
	float:left;
}

#leftNav ul {
	list-style:none;
	margin:20px;
	padding:3px;
	border:1px solid #666;
}

#leftNav ul li {
	margin:5px 0;
	padding-left:10px;
}

#leftNav ul li.services{
	font-weight:bold;
	background:#cce6fc;
	text-align:center;
	height:25px;
	padding-top:5px;
	padding-left:0px;
	border:1px solid #999;
}

#leftNav p{
	position:relative;
	top:10px;
	left:5px;
	text-align:center;
	font-size:18px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #999;
}

#inner {
   width:820px;
   height:800px;
   position:relative;
   left:80px;
   float:left;
}

#inner img {
   position:relative;
   top: 20px;
   float:left;
}

#inner p {
	position:relative;
	top: 40px;
	font-size:18px;
    
    float:left;
}

#inner label {
	position:relative;
	top: 50px;
	left: 200px;
    font-size:20px;
    font-weight:bold;
}

#rightNav {
	margin:10px;
	width:350px;
	float:right;
}

#rightNav ul {
	list-style:none;
	margin:0;
	padding:3px;
	border:1px solid #666;
}

#rightNav ul li {
	margin:5px 0;
	padding-left:10px;
}

#rightNav ul li.branches{
	font-weight:bold;
	background:#cce6fc;
	text-align:center;
	height:25px;
	padding-top:5px;
	padding-left:0px;
	border:1px solid #999;
}

#footer {
	clear:both;
    background:#AED1ED;
    height:75px;
} 

#footer ul {
	position:relative;
	top: 20px;
    left:550px;
    float:left;
    margin:0px;
    list-style:none;
}

#footer ul li {
	display:inline;
	border:0px solid #f00;
	margin:0 10px;
}

#footer ul li a {
	color:#000080;
	text-decoration:none;
}

#footer ul li a:hover {
	color:#FFF;
	text-decoration:underline;
}

#footer label {
	position:relative;
	top: 40px;
    left:200px;
}