body {
    background:#FFFFFF;
}

 header {
    background:#AED1ED;
    height:60px;
    text-align:center;
    padding-top:40px;
    font-size:24px;
    font-weight:bold;
}

 header p {
	margin: 0px;
    text-align:center;
    font-size:15px;
    font-weight:italic;
	text-decoration:underline;
	padding-bottom:10px;
}

nav {
	background:#000080;
	padding:3px;
	text-align:left;
}

nav ul {
      margin:0px;
      list-style:none;
}

nav ul li {
	display:inline;
	border:0px solid #f00;
	margin:0 50px;
}

nav ul li a {
	color:#FFF;
	text-decoration:none;
}

nav ul li a:hover {
	color:#8B0000;
	text-decoration:underline;
}



section {
	width:280px;
	float:left;
}

section ul {
	list-style:none;
	margin:20px;
	padding:3px;
	border:1px solid #666;
}

section ul li {
	margin:5px 0;
	padding-left:10px;
}

section ul li.services{
	font-weight:bold;
	background:#cce6fc;
	text-align:center;
	height:25px;
	padding-top:5px;
	padding-left:0px;
	border:1px solid #999;
}

section p{
	position:relative;
	top:10px;
	left:5px;
	text-align:center;
	font-size:18px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #999;
}

aside {
   width:820px;
   height:800px;
   
   left:80px;
   float:left;
}

aside figure{
  
   top: 20px;
   float:left;
  
}

aside p {
	position:relative;
	top: 40px;
	font-size:18px;
    float:left;
	left:30px;
}

aside label {
	position:relative;
	top: 50px;
	left: 200px;
    font-size:20px;
    font-weight:bold;
}

article {
	position:relative;
	margin:10px;
	width:350px;
	float:left;
	left:60px;
}

article ul {
	list-style:none;
	margin:0;
	padding:3px;
	border:1px solid #666;
}

article ul li {
	margin:5px 0;
	padding-left:10px;
}

article ul li.branches{
	font-weight:bold;
	background:#cce6fc;
	text-align:center;
	height:25px;
	padding-top:5px;
	padding-left:0px;
	border:1px solid #999;
}

footer {
	clear:both;
    background:#AED1ED;
    height:75px;
} 

footer ul {
	position:relative;
	top: 20px;
    left:550px;
    float:left;
    margin:0px;
    list-style:none;
}

footer ul li {
	display:inline;
	border:0px solid #f00;
	margin:0 10px;
}

footer ul li a {
	color:#000080;
	text-decoration:none;
}

footer ul li a:hover {
	color:#FFF;
	text-decoration:underline;
}

footer label {
	position:relative;
	top: 40px;
    left:200px;
}