body {
    background:#E5E1D6;
}

#wrapper {
    margin:0 auto;
	width:800px;
	background:#FFF;
 }

 #header {
    background:#AED1ED;
    height:60px;
    text-align:center;
    padding-top:40px;
    font-size:24px;
    font-weight:bold;
}

#container {
	background:#FFF;
	margin:5px;
	height:500px;
}

#leftNav {
	width:150px;
	float:left;
}

#inner {
   width:500px;
   height:500px;
   position:relative;
   left:20px;
   float:left;
}

#footer {
	clear:both;
    background:#AED1ED;
    height:75px;
	width:800px;
} 